<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TDYIOSNew.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E04778F21DAE2F9B000A1E2F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E04779061DAE2F9B000A1E2F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E04779111DAE2F9B000A1E2F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
