<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TDYCameraPicture.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E03429C41DB611280039A416</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E03429DD1DB611290039A416</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E03429E81DB611290039A416</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
